@import './variables.scss';

#restaurants-list {
    display: grid;
    grid-template-columns: 1fr;

    //consider font size on breakpoints
    
    // All the different media queries for the home page
    @media screen and (max-width: $bp-2) {
        max-width: 500px;
        margin: auto;
    }

    @media screen and (min-width: $bp-2+1) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: $bp-3) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}