@import './variables.scss';
/* ====================== Restaurant Details ====================== */
 .maincontent-restaurant {
  @media screen and (min-width: $bp-2) {
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: auto;
    grid-column-gap: 10px;
    grid-template-areas: 
      "restaurant map"
      "reviews reviews";

    .restaurant-container {
      grid-area: restaurant;
    }
    
    .map-container {
      height: 100%;
      grid-area: map;
    }
  }
 } 
 
 #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 0 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}
#restaurant-img {
    width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 30px 15px 60px;
  width: 100%;
  box-sizing: border-box;
}
.review-h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list li {
  border-radius: 50px 0 50px 0; 
}
#restaurant-hours td {
  color: #666;
}
.list-container {
  grid-area: reviews;
}
  